.detailed-state-device-list {
  width:30%;
  margin-bottom:25px;
}

#detailed-state-title-water{
  margin-top: 10px;
  margin-bottom:15px;
}

#detailed-state-title-connection,
#detailed-state-title-device{
  margin-top:20px;
  margin-bottom:15px;
}


#detailed-state-water-table td,
#detailed-state-water-table-connection td,
#detailed-state-water-table-device td,
#settings-water-table td{
  border: none;
}

#detailed-state-water-table td:nth-child(1),
#detailed-state-water-table-connection td:nth-child(1),
#detailed-state-water-table-device td:nth-child(1),
#settings-water-table td:nth-child(1){
  padding-left: 0px;
  padding-right:0px;
}

#detailed-state-water-table td:nth-child(2),
#detailed-state-water-table-connection td:nth-child(2),
#detailed-state-water-table-device td:nth-child(2){
  float:right;
}

#settings-water-table td:nth-child(2){

}

//toggle success style
.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
}
.toggle-switch-checkbox {
  display: none;
}
.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #ccc;
  //border-radius: 20px;
  margin: 0;
  width:150px;
}
.toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.toggle-switch-inner::before, .toggle-switch-inner::after {
  display: block;
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}

.toggle-switch-inner:before {
  content: "Автоматически";
  text-transform: uppercase;
  padding-left: 10px;
  background-color: #f90;
  color: #fff;
}
.toggle-switch-disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.toggle-switch-disabled::before {
  background-color: #ccc;
  cursor: not-allowed;
}
.toggle-switch-inner::after {
  content: "Вручную";
  text-transform: uppercase;
  margin-left: 0px;
  background-color: #ccc;
  color: #fff;
  text-align: right;
}
.toggle-switch-switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #ccc;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0px;
}
